# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*

# Logs
logs
*.log
npm-debug.log*

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Expo
.expo/

# React Native
android/
ios/